/*
    No se deberia cambiar el contenido de este archivo CSS
*/

#productos {
  color: red;
}

#producto-1 {
  color: blue;
}

#producto-2 {
  color: yellow;
}

#producto-3 {
  color: orange;
}

#producto-4 {
  color: cyan;
}