/* Un padre puede tener muchos hijos y todos estos heredan sus caracteristicas */

section article {
    background-color: #ccc;
    width: 500px;
    height: 500px;
  }
  
  section {
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
  }
  
  section article p {
    line-height: 4;
  }
  