* {
  box-sizing: content-box;
}

/* Clases de colores */
.azul {
  background: blue;
}

.rojo {
  background: red;
}

.negro {
  background: black;
}

.container {
  margin: 30px 0px;
}

.borde {
  border: solid 2px;
}

.cuadrado {
  margin: 10px 10px;
  width: 150px;
  height: 150px;
  color: white;
}


.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

/* Otra forma de aplicarlo es a traves de flex flow que es una combinacion de flex-direction y flex-wrap */

/*
.flex {
  display: flex;
  flex-flow: row wrap;
}
*/
