body {
    display: flex;
    flex-direction: column;
    height: 820px;
    padding: 1em;
}

#contenido {
    display: flex;
    flex: 4;
}

article {
    background-color: #659DF2;
}

nav{
    background-color: #E797E9;
}

aside{
    background-color: #E9F16A;
}

header,
footer {
    background-color: #97E9E4;
}

article,
nav,
aside,
header,
footer {
   padding: 1rem;
   margin: 2px;
   margin-top: 7px;
   flex: 1;
}

footer {
    flex: 0.5; 
}
 
