* {
  box-sizing: content-box;
}

/* Clases de colores */
.azul {
  background: blue;
}

.rojo {
  background: red;
}

.negro {
  background: black;
}

.container {
  margin: 30px 0px;
  height: 600px;
}

.borde {
  border: solid 2px;
}

.cuadrado {
  margin: 10px 10px;
  width: 150px;
  height: 150px;
  color: white;
}


.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-center; /* space-around  space-between evenly */
  /* justify-content: center; */ /* por default flex-start */ /* Tambien podria el tener valor de center o flex-end */
}

/*
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
*/